.navbar {
    margin-bottom: 20px;
}

nav a {
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    transition: .3s;
    border: 1px solid rgba(65, 116, 192, 0.993);
}

nav a:hover {
    color: white;
    background-color: rgb(64, 128, 165);
}